<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto en Html</title>
    <link href="/public/css/styles.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
<script src="https://kit.fontawesome.com/138f4028c4.js" crossorigin="anonymous"></script>

</head>
<body>
    <header style="background-color: #EAC926;;"> 
    <img src="/images/logo-mercado-liebre.svg" alt="imagen de mercado liebre">
    <div class="barrabusqueda">
        <form class="formulariodebarra" action="#" method="POST" >
                <div class="inputdebarra">
                    <input class="" type="search" placeholder="Buscar productos, marcas">
                </div>
        </form>
    </div>

    <h3><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
    <nav>
        <ul type="circle">
<li><a href="#Ofertas">Ofertas</a> </li>
<li><a href="#TiendasOficiales">Tiendas Oficiales</a></li> 
<li><a href="#Vender">Vender</a></li>
<li><a href="#Ayuda">Ayuda</a></li>
<br>
<li><a href="#Creatucuenta">Crea tu cuenta</a> <i class="fa-regular fa-id-card" style="color: #000000;"></i></li>
<li><a href="#Ingresa">Ingresa</a> <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></li>
<li><a href="#Miscompras">Mis Compras</a></li> 
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section >
            <h2>Basado en tu última visita</h2>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="400"
  height="341">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="400"
  height="341">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10" width="400"
  height="341">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
                                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv samusung smart" width="400"
  height="341">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43</h4>
        </section>
        <section id="Ofertas">
            <h2 id="Ofertas">Ofertas</h2>
                       <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="400"
  height="341">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="400"
            height="341">
                      <p>$230.000</p>
                      <p>20% OFF</p>
                      <h4>MacBook Pro 2019</h4>
                      <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10" width="400"
                      height="341">
                                <p>$70.500</p>
                                <p>10% OFF</p>
                                <h4>Samsung Galaxy S10</h4>
                                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samusung smart" width="400"
  height="341">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43</h4>
<br>
        </section>
    
    </main>
    <footer>
        <section>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. 
        ¡Y siempre es seguro!</p>
        </section>
        <section>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
        productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre
        protegid@.
        Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
        </footer>
</body>
</html>