<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto en Html</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/138f4028c4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header class="header1">
        <div class="container-logo-barra-texto">
        <div class="logo-barra">
    <img src="/images/logo-mercado-liebre.svg" alt="imagen de mercado liebre" class="logo-mercado-liebre" onclick="location.href='/'">
    <div class="barrabusqueda">
        <form class="formulariodebarra" action="#" method="POST" >
                <div class="inputdebarra">
                    <i class="fa fa-search" ></i>
                    <input class="search1" type="search" placeholder="Buscar productos, marcas" >
                </div>
        </form>
    </div>
        </div>
        <br>
    <h3 class="texto-logo-barra"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
    <br>
    <nav>
        <div class="navbar-items1">
            <ul >
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tienda-oficiales">Tienda Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
        </div>
        <div class="navbar-items2">
            <ul>
                <li><a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#Mis-compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
    </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" style="background-color: #1259c3;; padding: 10px;"></i>
        </div>
            <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
    </header>
    <main>

        <h2>Basado en tu ultima visita</h2>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20$ OFF</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>

        <h2>Ofertas</h2>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20$ OFF</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" />
                <div class="articulos">
                    <div class="logo">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>
    </main>
    <br>
    <footer>
        <div class="DivFooter">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <div class="textof">
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <div class="textof">
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <div class="textof">
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </section>
            
        </div>
     <p class="textcopy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>