<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/138f4028c4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header1">
        <div class="container-logo-barra-texto">
        <div class="logo-barra">
    <img src="/images/logo-mercado-liebre.svg" alt="imagen de mercado liebre" class="logo-mercado-liebre" onclick="location.href='/'">
    <div class="barrabusqueda">
        <form class="formulariodebarra" action="#" method="POST" >
                <div class="inputdebarra">
                    <i class="fa fa-search" ></i>
                    <input class="search1" type="search" placeholder="Buscar productos, marcas" >
                </div>
        </form>
    </div>
        </div>
        <br>
    <h3 class="texto-logo-barra"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
    <br>
    <nav class="navbar">
        <ul  class="navbar-items">
            <div class="navbar-items1">
            <li class="navbar__item"><a href="#Ofertas">Ofertas</a> </li>
            <li class="navbar__item"><a href="TiendasOficiales">Tiendas Oficiales</a></li> 
            <li class="navbar__item"><a href="#Vender">Vender</a></li>
            <li class="navbar__item"><a href="#Ayuda">Ayuda</a></li>
            </div>
<br>
<div class="navbar-items2">
            <li class="navbar__item"><a href="/register">Crea tu cuenta</a> <i class="fa-regular fa-id-card" style="color: #000000; padding: 1px;"></i></li>
            <li class="navbar__item"><a href="/login">Ingresa</a> <i class="fa-solid fa-right-to-bracket" style="color: #000000;padding: 1px;"></i></li>
            <li class="navbar__item" class="navbar__item--opacity"><a href="#Miscompras">Mis Compras</a> </li>
</div>
        </ul>
    </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" style="background-color: #03264C; padding: 10px;"></i>
        </div>
            <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
    </header>
    <main>
        <form action="/" method="get">
            <br>
            <label  for="username"><input class="estilo-input" type="text" id="username" name="username" placeholder="Nombre de usuario" minlength="3" maxlength="15" required><br><br>
            </label>
            <label  for="password"><input type="password" class="estilo-input" id="password" name="password" placeholder="Contraseña" required><br><br>
            </label>
            
            <button class="boton-enviar" type="submit">Enviar</button>
        </form>



    </main>
    <br>
    
    <footer>
        <div class="caja-footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
        <h4 class="descripciones">Pagá con tarjeta o en efectivo</h4>
        <p >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. 
        ¡Y siempre es seguro!</p>
        </section>
        <section >
            <i class="fa-solid fa-gift"></i>
        <h4 class="descripciones">Envío gratis desde $ 2.500</h4>
        <p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
        productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section >
            <i class="fa-solid fa-user-shield" ></i>
        <h4 class="descripciones">Seguridad, de principio a fin</h4>
        <p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre
        protegid@.</p>
        </section>
        </div>
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
</body>
</html>