
.texto-formulario{
    font-style: "Roboto"
}


.estilo-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 

.boton{
    width: 30%;
    margin: auto;
    background-color: #1259c3;
    color: aliceblue;
    padding: 5px;
    border: none;
}

.boton2{
    width: 30%;
    margin: auto;
    background-color: red;
    color: aliceblue;
    padding: 5px;
    border: none;
}

.estilo-label{
    padding-top: 5px;
}

.estilo-label > input{
    width: 100%;
    padding: 5px;
}
